# Version control
.git
.github
.gitignore

# Dependencies
node_modules
npm-debug.log

# Build directories
dist
build

# Environment files
.env
.env.*
!.env.example

# Editor directories
.idea
.vscode

# Misc
README.md
*.log
*.md
supabase